<header class="border-b border-gray-200 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="font-bold text-lg">
      Exclusive
    </div>

    <button class="md:hidden text-black text-2xl" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <i class="bi bi-list"></i>
    </button>

    <nav id="navbarNav" class=" md:flex md:items-center space-x-6 text-sm">
      <a routerLink="" class="text-black transition-all ease-linear duration-500 no-underline relative
               before:content-[''] before:absolute before:w-0 before:h-0.5 before:bg-black before:bottom-0
               before:left-0 before:transition-all before:duration-300 hover:before:w-full">
        Home
      </a>
      <a routerLink="contact" class="text-black transition-all ease-linear duration-500 no-underline relative
               before:content-[''] before:absolute before:w-0 before:h-0.5 before:bg-black before:bottom-0
               before:left-0 before:transition-all before:duration-300 hover:before:w-full">Contact</a>
      <a routerLink="about" class="text-black transition-all ease-linear duration-500 no-underline relative
               before:content-[''] before:absolute before:w-0 before:h-0.5 before:bg-black before:bottom-0
               before:left-0 before:transition-all before:duration-300 hover:before:w-full">About</a>
      <a routerLink="d" class="text-black transition-all ease-linear duration-500 no-underline relative
               before:content-[''] before:absolute before:w-0 before:h-0.5 before:bg-black before:bottom-0
               before:left-0 before:transition-all before:duration-300 hover:before:w-full">Sign Up</a>
    </nav>
    <div class=" md:flex items-center space-x-4">
      <div class="relative">
        <input type="text" placeholder="What are you looking for?"
          class="border border-gray-300 rounded-full pl-4 pr-10 py-2 text-sm w-64">
        <button class="absolute top-0 right-0 h-full px-4">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <a routerLink="wishlist" class="text-xl text-black"><i class="bi bi-heart"></i></a>
      <a routerLink="cart" class="text-xl text-black"><i class="bi bi-cart"></i></a>
    </div>
  </div>
</header>