<div class="flex justify-center items-center h-screen">
  <div class="flex flex-col md:flex-row bg-white shadow-lg rounded-lg overflow-hidden w-3/4 max-w-4xl">
    <div class="md:w-1/2">
      <img src="../../../assets/images/phone.jpeg" alt="Shopping Cart and Phone" class="h-full w-full object-cover" />
    </div>

    <div class="md:w-1/2 p-8">
      <h2 class="text-3xl font-semibold mb-4">Sign Up to Exclusive</h2>
      <p class="text-gray-600 mb-8">Enter your details below</p>

      <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm)">
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
          <input type="text" required id="name" formControlName="name"
            class="mt-1 p-3 w-full border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" />

          @if(signupForm.get('name')?.errors!==null&&signupForm.get('name')?.touched){
          @if(signupForm.get('name')?.errors?.['required']){<p class="text-red-500 text-sm mt-2">Name Required</p>}
          @if(signupForm.get('name')?.errors?.['minlength']||signupForm.get('name')?.errors?.['maxlength'])
          {<p class="text-red-500 text-sm mt-2">length between 2,50</p>}
          }
        </div>

        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input type="text" required id="email" formControlName="email"
            class="mt-1 p-3 w-full border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" />
          @if(signupForm.get('email')?.errors!==null&&signupForm.get('email')?.touched){
          @if(signupForm.get('email')?.errors?.['required']){<p class="text-red-500 text-sm mt-2">email Required</p>}
          @if(signupForm.get('email')?.errors?.['email']){<p class="text-red-500 text-sm mt-2">invalid email</p>}
          }
        </div>

        <div class="mb-4">
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <input type="password" required id="password" formControlName="password"
            class="mt-1 p-3 w-full border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" />
          @if(signupForm.get('password')?.errors!==null&&signupForm.get('password')?.touched){
          @if(signupForm.get('password')?.errors?.['required']){<p class="text-red-500 text-sm mt-2">password Required
          </p>}
          @if(signupForm.get('password')?.errors?.['minlength']||signupForm.get('password')?.errors?.['maxlength'])
          {<p class="text-red-500 text-sm mt-2">password length 6,20</p>}
          }

        </div>

        <div class="mb-4">
          <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm Password</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword"
            class="mt-1 p-3 w-full border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" />
          @if(signupForm.get('confirmPassword')?.errors!==null&&signupForm.get('confirmPassword')?.touched){
          @if(signupForm.get('confirmPassword')?.errors?.['required']){<p class="text-red-500 text-sm mt-2">confirm
            Password Required</p>}
          @if(signupForm.get('confirmPassword')?.errors?.['minlength']||signupForm.get('confirmPassword')?.errors?.['maxlength'])
          {<p class="text-red-500 text-sm mt-2">confirm password length 6,20</p>}
          }
          @if(passwordErrors!==''){
          <p class="text-red-500 text-sm mt-2">{{passwordErrors}}</p>
          }

        </div>

        <div class="flex justify-between items-center">
          <button type="submit" [disabled]="!signupForm.valid"
            class="bg-red-500 text-white md:py-2 md:px-4 max-sm:py-1 max-sm:px-1 rounded-md hover:bg-red-600"
            [ngClass]="{'bg-slate-400': !signupForm.valid, 'bg-red-500': signupForm.valid}" type="submit">Sign
            Up</button>
        </div>

        <div class="text-center flex mt-4 gap-2">
          <p class="text-gray-600">Already have an account?</p>
          <a routerLink="/login" class="text-green-600  rounded-md hover:text-red-500 ">
            Log In
          </a>
        </div>
      </form>
    </div>
  </div>
</div>